{% extends "excerpts/layout.html" %}

{% block body %}

<div class="alert alert-dismissible alert-warning" >
  
  
  
    <h4 class="alert-heading">We are so happy you are joining us!</h4>
    <p class="mb-0">Do you know that there are periodic books give away? You could be the lucky winner soon! All you have to do is to post your favorite excerpts daily and heart the excerpts that you enjoy! A notification informing you that you won will guide you to choose and confirm your book reward! Good luck, and, most of all, have fun!!</p>
  
  </div>

    <h2>Register</h2>

    

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="{{ class_name }}" autofocus type="text" name="username" placeholder="Username" value="{{ username }}" style="width: 250px" required>
        
        <div class="invalid-feedback">{{ message_name }}</div>
    </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" value="{{ email }}" style="width: 250px">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" value="{{ password }}" style="width: 250px" required>
        </div>
                
            <div class="form-group" >
            <input class="{{ class_conf }}" type="password" name="confirmation" placeholder="Confirm Password" value="{{ confirmation }}" style="width: 250px">
        
        <div class="invalid-feedback">{{ message_pw }}</div>
    </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
<div style="margin-top: 20px;">
    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>
{% endblock %}